MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.orxit.mongodb.net/athletix?retryWrites=true&w=majority"
AUTH_SECRET="replace-with-strong-random-string"

# Seed variables (used by seed script)
SEED_SUPERADMIN_EMAIL="you@example.com"
SEED_SUPERADMIN_PASSWORD="please-change"
SEED_SUPERADMIN_NAME="Your Name"


