.content {
  overflow: hidden;
  transition: height var(--transition-normal);
}

.content[data-state="open"] {
  animation: slideDown var(--transition-normal);
}

.content[data-state="closed"] {
  animation: slideUp var(--transition-normal);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

